* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home/Index */

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

nav img {
    width: 200px;
    padding-bottom: 5px;
    left: 0;
    /* border: 10px solid green; */
}

.btns-center {
    display: flex;
    flex-direction: row;
    align-self: center;
    /* border: 4px solid blue; */
    list-style: none;
    /* padding: 10px; */
    font-family: "Oswald", sans-serif;
}

.btns-center li a {
    color: black;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-isolado {
    justify-content: flex-end;
    /* border: 4px solid yellow; */
    list-style: none;
    align-self: center;
    font-family: "Oswald", sans-serif;
    padding: 10px 25px;
    background-color: #435508;
    border-radius: 20px;
}

.btn-isolado a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: "Playfair Display", serif;
    /* border: 4px solid purple; */
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.tres-blocos-img {
    /* border: 4px solid brown; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-bottom: 50px; */
}

.tres-blocos-img img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
}

.bloco-esq, .bloco-dir {
    border: 1px solid green;
    width: 100px;
    height: 350px;
    align-self: flex-end;
    background-color: #435508;
}

.bloco-esq {
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.bloco-dir {
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.index-text {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #435508;
    width: 80%;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

footer {
    padding: 20px;
    background-color: #435508;
}

footer p {
    color: white;
    font-family: Oswald;
    text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px #435508;
    margin: 20px;
    padding: 20px; 
}

.card:hover{
  transform: scale(1.03);
}

.card h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.card p {
  font-size: 0.9rem;
  color: #333;
  text-align: justify;
}

.card i {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  color: #435508; 
}

p{
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.form-geral {
  max-width: 700px;
  margin: 0 auto; /*centraliza horizontalmente na página */
  padding: 40px 20px; /*add um espaço interno (top/baixo 40px, lados 20px)*/
  font-family: Arial, sans-serif;
}


.formulario {
  background-color: #f2ebe0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px #4d4f1e;
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  margin-top: 20px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #c9ccb6;
  border-radius: 15px;
  font-size: 16px;
}

.formulario button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #4d4f1e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;  /*mudança suave da cor d background */
}

.formulario button:hover {
  background-color: #3b3d17;
  transform: scale(1.03);
}

.form-geral h1 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}

.formulario i{
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.mensagem-final {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: #333;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "roboto", serif;
}

/* Relatos */

.report-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f2ed;
  height: 400px;
  box-shadow: 0 0 10px #435508;
}

.report-container:hover{
  transform: scale(1.03);
}

.img-container img {
  width: 200px;
  margin: 30px;
}

.name, .profession {
  padding: 7px;
  text-align: center;
}

.report-text {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
}

.report-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.report-p p {
  text-align: left;
}

/* Página de Direitos */

.card-container-2 {
  display: flex;
  flex-direction: column;
  justify-content:left;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 60px;
}

.card-2{
    width: 600px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px #435508;
    margin: 20px;
    padding: 20px; 
}


.card-2:hover{
  transform: scale(1.03);
}

.card-2 h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.card-2 p {
  font-size: 0.9rem;
  color: #333;
  text-align: justify;
}

.card-2 i {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  color: #435508; 
}

.conteudo-direitos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  border-radius: 15px;
}

.cards-esquerda {
  flex: 2; /* ocupa duas vezes mais espaço que .imagem-direita no layout flex */
}

.imagem-direita img {
  max-width: 400px;
  height: 500px;
  border-radius: 20px;
}

.imagem-direita {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 68px;
  margin-right: 170px;
  margin-top: 20px;
}



